aniso8601==8.0.0
cftime==1.0.4.2
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
netCDF4==1.5.3
numpy==1.17.4
psycopg2-binary==2.8.4
pytz==2019.3
six==1.13.0
Werkzeug==0.16.0
